* {
    color: white;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(../_static/landingpageimages/background.svg);
}


header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

section {
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 160px;
    padding-bottom: 100px;
}

section h2 {
    font-size: 3rem;
    margin-bottom: 10px;
}

hr {
    border-top: #d2d2d2 1px solid;
    width: 100%;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
}

img {
    max-height: 100px;
    width: auto;
    background: rgb(234, 234, 234);
    border-radius: 8px;
}

#remove-button {
    background-color: #333;
    color: white;
    border: none;
    width: 32px;
    height: 32px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 8px;

    cursor: pointer;
}

#title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
    color: white;
    width: 120px;
}

#title h3 {
    margin: 0;
    color: white;
}

#title p {
    margin: 0;
    font-size: 12px;
    color: darkgray;
}

#quantity {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: white;
    width: 100px;
}

#quantity input {
    width: 30px;
    height: 25px;
    padding: 0;
    text-align: center;
    color: black;
    border-radius: 8px;
    border: .5px solid #333;
}

#quantity input::-moz-placeholder {
color: black !important;
}
#quantity button {
    background-color: #333;
    color: white;
    border: none;
    width: 22px;
    height: 22px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 8px;

    cursor: pointer;
}

#price {
    font-size: 15pt;
    font-weight: bold;
    color: white;
}

#total-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    align-self: end;

    /* margin-right: 100px; */
}

img {
    max-height: 100px;
    width: auto;
    background: rgb(234, 234, 234);
    border-radius: 8px;
}

#remove-button {
    background-image: linear-gradient(120deg, #335d91, #3ba3a9);
    color: white;
    border: none;
    width: 32px;
    height: 32px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 8px;

    cursor: pointer;
}

#title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;

    width: 120px;
}

#title h3 {
    margin: 0;
}

#title p {
    margin: 0;
    font-size: 12px;
    color: darkgray;
}

#quantity {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;

    width: 100px;
}

#quantity input {
    width: 30px;
    height: 25px;
    padding: 0;
    text-align: center;

    border-radius: 8px;
    border: .5px solid #333;
}

#quantity button {
    background-color: #333;
    color: white;
    border: none;
    width: 22px;
    height: 22px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 8px;

    cursor: pointer;
}
#plus-button {
    background-image: linear-gradient(120deg, #335d91, #3ba3a9);
}
#price {
    font-size: 15pt;
    font-weight: bold;
}

#total-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    align-self: end;

    /* margin-right: 100px; */
}

#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    margin-top: 20px;
}

.shopping-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: black;
    /* gap: 50px; */

    width: 83%;

    padding-left: 100px;
    padding-right: 100px;
}

#cost-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    width: 100%;
}

#text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
}

#text h3 {
    margin: 0;
}

#text span {
    margin: 0;
    font-size: 12pt;
    color: darkgray;
}

#cost-counter {
    font-size: 15pt;
    font-weight: bold;
}


#checkout-button {
    background-image: linear-gradient(120deg, #335d91, #3ba3a9) ;
    color: white;
    border: none;
    width: 100%;
    height: 50px;

    font-size: 13pt;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;

    cursor: pointer;

    margin-top: 20px;
}

footer {
    position: fixed;
    bottom: 0%;
background-color: black;
}


.nav-div {
    height: fit-content;
    width: fit-content;
    position: fixed;
    top: 0%;
    z-index: 15;
}

.nav-div img {
    all: initial;
}

#nav-div__topper-bar {
    height: 100%;
    width: 100%;
    scale: 120%;
    margin-top: -20px;
  }

  .nav-div__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -10rem;
    gap: 36rem;
  }
  
  .nav-div__menu-and-logo {
    display: flex;
  
  }
  
  .nav-div__cart-and-profile {
    display: flex;
  
  }
  
 .nav-div__container__logo { 
    height: 90px !important; 
    width: 340px !important;
    translate: 1% !important;
    flex-shrink: 1 !important;
  }
  
  .nav-div__container__menu-button {
    height: 70px !important;
    width: 70px !important;
    padding-top: 6px !important;
    padding-right: 10px !important;
    filter: invert(1) !important;
    flex-shrink: 1 !important;
  
  }
  
  .nav-div__container__search {
    width: 420px;
    height: 35px;
    border-radius: 50px;
    outline-style: solid;
    outline-color: white;
    outline-width: 3px;
    background-color: transparent;
    text-transform: uppercase;
    color: white;
    margin-left: -290px;
    margin-top: -5px;
    opacity: 0;
  }
  
  .nav-div__container__search::-webkit-input-placeholder {
    color: white;
  }
  
  .nav-div__container__profile-icon {
    height: 60px !important;
    translate: 0% !important;
    filter: invert(1) !important;
    padding-right: 2.5rem !important;
  }
  
  .nav-div__container__cart-icon {
    height: 60px !important;
    translate: 0% !important;
    filter: invert(1) !important;
  }