body {
    background-image: url(../_static/landingpageimages/background.svg);
    background-size: cover;

}

.nav-div {
    height: fit-content;
    width: fit-content;
    position: fixed;
    top: 0%;
    z-index: 15;
    translate: -273px;
  }
  
  #nav-div__topper-bar {
    margin-top: -30px;
  }
  .nav-div__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -12rem;
    gap: 36rem;
  }
  
  .nav-div__menu-and-logo {
    display: flex;
  
  }
  
  .nav-div__cart-and-profile {
    display: flex;
  
  }
  
  .nav-div__container__logo {
    height: 90px;
    width: 340px;
  
    flex-shrink: 1;
  }
  
  .nav-div__container__menu-button {
    height: 70px;
    width: 70px;
    padding-top: 6px;
    padding-right: 10px;
    filter: invert(1);
    flex-shrink: 1;
  
  }
  
  .nav-div__container__search {
    width: 420px;
    height: 35px;
    border-radius: 50px;
    outline-style: solid;
    outline-color: white;
    outline-width: 3px;
    background-color: transparent;
    text-transform: uppercase;
    color: white;
    margin-left: -290px;
    margin-top: -5px;
  }
  
  .nav-div__container__search::-webkit-input-placeholder {
    color: white;
  }
  
  .nav-div__container__profile-icon {
    height: 60px;
    translate: 0%;
    filter: invert(1);
    padding-right: 2.5rem;
  }
  
  .nav-div__container__cart-icon {
    height: 60px;
    translate: 0%;
    filter: invert(1);
  }

.tile-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: auto;
    margin-top: 180px;
}

.tile {
    scale: 80%;
    background-image: url(../static/imageregistry/Tile_Background_ImperialIceHoodie.png);
    background-size:contain;
    background-repeat: no-repeat;
    height: 600px;
    width: 380px;
    flex-grow: 0;
    margin-right: -40px;
    transition: ease-out 0.1s;

}

.tile:hover {
    transform: scale(1.025);
  }

.login-window {
    margin-top: 180px;
    height: 658px;
    width: 650px;
    background-image: url(../static/imageregistry/LoginPage_LoginWindow.svg);
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}
.tile__price {
    position: relative;
    left: 47%;
    top: 3.5%;
    font-size: 2.3rem;
    width: 13rem;
    text-align: center;
    color: #3989a1;
    margin-top: 0;
    font-family: "acumin-pro";
    font-weight: 700;
}

.tile__priceuvp {
    position: relative;
    left: 47%;
    top: 5%;
    font-size: 1.3rem;
    text-decoration: line-through;
    width: 13rem;
    text-align: center;
    color: #346795;
    margin-bottom: 0;
    font-family: "acumin-pro";
    font-weight: 700;
}

.tile__pricewrapper {
    position: relative;
    top: 3.2%;
    line-height: 19px;
}
.tile__metawrapper {
    /* overflow: scroll; */
    position: relative;
    top: 54%;
    left: 2%;
    text-transform: uppercase;
    line-height: 32px;
}

.tile__name {

 font-size: 3rem;
 margin: 0 0 0 0;
 color: #3989a1;
 font-family: "acumin-pro";
 font-weight: 700;
}

.tile__slogan {
 letter-spacing: 0.5rem;
 margin: 0 0 0 0.4rem;
 color: #346795;
 font-family: "acumin-pro";
 font-weight: 700;
}

.tile__colorcontainer {
    display: flex;
    flex-direction: row;
    
}
.color {
    height: 1.6rem;
    width: 1.6rem;
    border-radius: 2rem;
    border-width: 4px;
    border-color: rgb(27, 27, 27);
    margin-right: 5px;
    border-style: solid;
}

.color-grey {
    background-color: rgb(78, 78, 78);
}

.color-dark-grey {
    background-color: rgb(49, 49, 49);
}


.color-black {
    background-color: black;
}

.color-white {
    background-color: white;
}

footer {
    height: 100px;
    width: 100%;
    background: black;
    backdrop-filter: blur(10px);
    opacity: 0.99;
    color: white;
    display: grid;
    place-items: center;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    gap: 80px;
  }
  
  footer a {
    color: inherit;
    font-family: "acumin-pro";
    font-weight: 700;
    text-decoration: none;
  }